#new_evaluation
  #instructions
    %p
      All quizzes are intended as learning aids only.
    
    %p
      If your answer to a quiz question is not an exact match, you will be shown
      the accepted answer to the question. If you feel your answer was correct,
      you have the option of indicating such. The quiz is for your benefit, so
      you are the ultimate judge. You can also choose to ignore the question. Correctly
      answered and ignored questions will not be represented if you retake the quiz.

    %p
      Many questions are code snippets, in which case the answer is the value
      returned by the presented code.

    %p
      Throughout the quiz, the following notation will be used:

    %p
      %span.code<
        ModuleName#method_name
      &mdash; instance method

    %p
      %span.code<
        ModuleName.method_name
      &mdash; class method

  = form_for @evaluation do |f|
    = f.hidden_field :quiz_id, :value => @evaluation.quiz_id
    = f.hidden_field :parent_id, :value => @evaluation.parent_id
    = f.submit "Start the Quiz Now!"

