#nav_links
  = link_to 'New Quiz', new_quiz_path if @manage
  = link_to 'Quiz Management Demo', quizzes_path(:manage_quizzes => 1) unless @manage
  
= render 'shared/flash', :flash => flash

#instructions
  - if @manage
    %p
      Welcome to the quiz management demo!

    %p
      This demo is intended to demonstrate an inline editing interface. It is here
      for you to play around with, so create a new quiz or use a Details link to see
      and edit an existing one. All quizzes listed are mock quizzes that are open to
      all to create, view, update and delete. Changes will not affect the permanent
      quizzes listed on the home page (quizzes that look similar are actually copies).
      You can also still take any of the mock quizzes by clicking on the quiz name.

      %span.highlight
        Changes you make are likely to be changed or deleted by others.
        
      The quiz management demo is a demo only, not a place to create persistent quizzes.

  - else
    Test your Ruby prowess by taking one of the quizzes below!

#quiz_index
  = render @quizzes
