#nav_links
  = link_to 'New Quiz', new_quiz_path if @manage
  = link_to 'Quiz Management Demo', quizzes_path(:manage_quizzes => 1) unless @manage
  
= render 'shared/flash', :flash => flash

#instructions
  - if @manage
    %p
      Welcome to the quiz management demo!

    %p
      This is a demo only.  All quizzes listed are mock quizzes that are open to
      all to view and update. 
      %span.highlight
        Changes you make are likely to be changed or deleted by others,
      and will not affect the permanent quizzes listed on the home page.

  - else
    Test your Ruby prowess by taking one of the quizzes below!

#quiz_index
  = render @quizzes
