/* _mixins.scss */

@mixin rounded-corners($radius: 16px) {
  /* safari */
  webkit-border-top-right-radius: $radius;
  webkit-border-bottom-right-radius: $radius;
  webkit-border-bottom-left-radius: $radius;
  webkit-border-top-left-radius: $radius;

  /* firefox */
  -moz-border-radius: $radius;

  /* CSS3 */
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin code {
  font-style: normal;
  font-family: $fixed_width_font_family;
  white-space: pre-wrap;
}
