#about
  %p
    = link_to(SITE_NAME, root_path)
    is a demo site that was written as a code sample. The code is hosted on
    = link_to("github", GITHUB_URL) + '.'
    I plan to add more quizzes and features over time. In the meantime,
    I hope people find the quizzes be helpful and fun!

  %p
    Feedback, suggestions or other comments are welcome at: #{CONTACT_EMAIL}.
